 <!-- Add icon library -->
 <div class="icon-bar">
    <!-- home -->
    <a routerLink="/ehome" routerLinkActive="active">
        <i class="glyphicon glyphicon-home"></i>
    </a>
    <!-- Submit new Ticket -->
    <a routerLink="/emp-submitTicket" routerLinkActive="active">
        <i class="glyphicon glyphicon-plus"></i>
    </a>
    <!-- Upload image -->
    <a routerLink="/emp-uploadImg" routerLinkActive="active">
        <i class="glyphicon glyphicon-cloud-upload"></i>
    </a>
    <!-- View Tix -->
    <a routerLink="/emp-reimbursements" routerLinkActive="active">
        <i class="glyphicon glyphicon-th-list"></i>
    </a>
    <!-- View User Inf -->
    <a routerLink="/emp-viewUser" routerLinkActive="active">
        <i class="glyphicon glyphicon-user"></i>
    </a>
    <!-- logout -->
    <a id="e-nav-logout" (click)="logout()"     ><i class="glyphicon glyphicon-log-out"></i></a>
</div>