 <!-- Add icon library -->
 <div class="icon-bar">
    <!-- home -->
    <a routerLink="/mhome" routerLinkActive="active">
        <i class="glyphicon glyphicon-home"></i>
    </a>
    <!-- Submit new Ticket -->
    <a routerLink="/man-viewTix" routerLinkActive="active">
        <i class="glyphicon glyphicon-th-list"></i>
    </a>
    <!-- View User Inf -->
    <a routerLink="/man-viewUser" routerLinkActive="active">
        <i class="glyphicon glyphicon-user"></i>
    </a>
    <!-- logout -->
    <a id="e-nav-logout" (click)="logout()"     ><i class="glyphicon glyphicon-log-out"></i></a>
</div>