<!-- <div class="content"> -->
<div class="row">
    <div class="col-md-1">
        <app-e-nav></app-e-nav>
    </div>
    <!-- <div class="jumbotron"> -->
    <div class="col-md-5 col-lg-3 jumbotron" >
        <br>
        <table class="table table-striped table-dark rounded">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">User</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">First Name</th>
                    <td>{{curUser.firstName}}</td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>{{curUser.lastName}}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{curUser.email}}</td>
                </tr>
                <tr>
                    <th scope="row">Role</th>
                    <td>{{curUser.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-lg-2 jumbotron">
        <div>
        <form>
            <!-- firstname -->
            <div id="firstname" class="form-group">
                <label for="first">First</label>
                <input [(ngModel)]="editFirst" type="text" class="form-control" name="first" placeholder="First">
            </div>
            <!-- lastname -->
            <div id="lastname" class="form-group">
                <label for="last">Last</label>
                <input [(ngModel)]="editLast" type="text" class="form-control" name="last" placeholder="Last">
            </div>
            <!-- username -->
            <div id="lastname" class="form-group">
                <label for="username">Username</label>
                <!-- <input [(ngModel)]="editLast" type="text" class="form-control" name="last" placeholder="Last"> -->
                <h4>{{curUser.username}}</h4>
            </div>
            <!-- password -->
            <div id="password" class="form-group">
                <label for="pass">Password</label>
                <input [(ngModel)]="editPass" type="password" class="form-control" name="pw" placeholder="Password">
            </div>
            <!-- email -->
            <div id="email" class="form-group">
                <label for="email">Email</label>
                <input [(ngModel)]="editEmail" type="text" class="form-control" name="email" placeholder="hello@revature.com">
            </div>
        </form>
        <button (click)="updateUser();" type="button" class="btn btn-secondary">Update!</button>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>